python-dotenv
openai
transformers
torch
torchvision
pillow
numpy
gdown
langgraph
langchain
langchain-core
langchain-community
langchain-text-splitters
flask
flask_cors
pypdf
tqdm
beautifulsoup4
lxml
accelerate
sentence-transformers
